$blue: #3674ff;
$black: #202020;

$main-bg: #f4f7fd;
$hover-item-color: #f3f7ff;
$dialog-count: #f46b6b;
$audio-progress: #418fff;
$item-online: #00c980;
$message-typing-dots: #a6bdf0;
$message-typing: #e5edff;
