@import '~reset-css';
@import 'variables';
@import '~antd/dist/antd.css';

html,
body,
#root,
.wrapper {
  height: 100%;
  color: $black;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.button {
  text-transform: uppercase;
}
