@import './src/styles/_variables.scss';

.message {
  $self: &;

  display: flex;
  margin-bottom: 15px;

  &__avatar {
    display: flex;
    flex-direction: column-reverse;

    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-bottom: 5px;
      margin-right: 13px;
    }
  }

  &__content {
    display: flex;
    position: relative;
    flex-direction: column;

    &-bubble {
      padding: 15px;
      max-width: 400px;
      width: 100%;
      background: $blue;
      box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
      border-radius: 12px 12px 12px 0;
      margin-bottom: 8px;

      .text {
        line-height: 16px;
        margin-bottom: 0;
        color: #ffffff;
      }
    }

    &-date {
      display: block;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.5;
    }

    &-attachments {
      display: flex;
      align-items: flex-end;

      .item {
        margin-right: 5px;
        margin-bottom: 3px;
        cursor: pointer;

        img {
          height: 45px;
          width: 45px;
          border-radius: 10px;
        }
      }
    }
  }
  &--isAudio {
    audio {
      display: none;
    }
    #{$self}__content-bubble {
      position: relative;
      width: 260px;
      overflow: hidden;
    }
    #{$self}__audio-progress {
      background: $audio-progress;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      transition: width 0.5s ease;
    }

    #{$self}__audio-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 260px;
      position: relative;
      &-btn {
        button {
          width: 28px;
          height: 28px;
          background-color: #0f3997;
          border-radius: 50%;
          border: 0;
          cursor: pointer;
          img {
            position: relative;
            top: 2px;
          }
        }
      }
      &-duration {
        color: #ffffff;
        opacity: 0.5;
      }
    }
  }
  &--isMe {
    flex-direction: row-reverse;

    #{$self} {
      &__avatar {
        img {
          margin-left: 13px;
          margin-right: 0;
        }
      }

      &__content-bubble {
        background: #ffffff;
        border: 1px solid #ececec;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
        border-radius: 12px 12px 0 12px;

        .text {
          color: $black;
        }
      }

      &__content-read {
        position: absolute;
        bottom: 23px;
        left: -20px;
      }

      &__content-date {
        text-align: end;
      }

      &__content-attachments {
        flex-direction: row-reverse;
      }
    }
  }

  &--image {
    #{$self} {
      &__content-attachments {
        img {
          height: 150px;
          width: 150px;
        }
      }
    }
  }
  //animation

  &--isTyping {
    #{$self} {
      &__content-bubble {
        background-color: $message-typing;
        box-shadow: 4px 5px 8px rgba(54, 116, 255, 0.196733);
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $message-typing-dots;
      display: inline-block;
      margin-right: 8px;

      &:nth-of-type(1) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }

      &:nth-of-type(2) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }

      &:nth-of-type(3) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }
    }
  }
}

@keyframes typingAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
